@import "menu_button.css";


html {
    font-family: sans-serif;
    font-weight: 200;
}
body{
    overflow: hidden;
    margin: 0;
}



.my_receipt{
    font-weight: 300;
    font-size: 25px;
    font-stretch: expanded;
    padding-right: 100px;
    padding-left: 45px;
    padding-bottom: 5px;
    margin: 1px;
}


.start{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    border-bottom: 1px grey;
    -webkit-box-shadow: 0px 0px 150px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 150px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 80px -7px rgba(0, 0 , 0, 0.3);

}

.menu_txt{
    /*padding-bottom: 10px;*/
    text-align: center;
    /*border-bottom: 2px black groove;*/
    cursor:pointer;
    color: black;
    margin-right: 10px ;
    text-decoration: none;
    transition: 0.2s;
}

.nav-list{
    overflow: hidden;
    right: -50%;
    margin-top: 42px;
    align-items: center;
    justify-content: space-around;
    text-align: right;
    padding: 0px 30px 0px 100px;
    background-color: #fbfbfb;
    /*border: 0.5px black groove;*/
    border-bottom: 1px grey;
    border-radius: 30px;
    display: none;
    position: absolute;
    -webkit-box-shadow: 0px 0px 150px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 150px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 70px 150px -7px rgba(0, 0 , 0, 0.3);
}

/*.special_menu:hover{*/
/*    .nav-list {*/
/*        margin-bottom: 10px;*/
/*        display: block;*/
/*        position: absolute;*/
/*    }*/
/*}*/

@keyframes move_on {
    from{
        right: -500%;
    }
    to {
        right: -50%
    }
}

@keyframes move_back {
    from{
        right: -50%
    }
    to{
        right: -500%;
    }
}