h1.sec{
    text-align: left;
    color: black;
    font-size: 32px;
    font-weight: bold;
    border-top: 2px grey groove;
    border-bottom: 2px black;
    border-bottom-style: groove;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 20px;
}

.ing{
    text-shadow: 1px 1px 1px grey;
}

.buttonsec {
    padding: 3px;
    background-color: #eeeeee;
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
    overflow: hidden;
    border-radius: 10px;
    border-width: 2px;
}

.buttonsec:hover{
    background: #bbbbbb;
}

.buttonsec:active{
    background: white;
    box-shadow: inset 1px 1px 1px black;
}

