h1{
    color: red;
    font-size: 32px;
    font-weight: bold;
<<<<<<< HEAD
    border-bottom: 2px black;
    border-bottom-style: groove;
    box-shadow: 5px 5px 5px olivedrab;
}

.ing{
    text-shadow: 1px 1px 1px grey;
}

.buttonsec {
    padding: 1px;
    width: 10%;
    background-color: #eeeeee;
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
    overflow: hidden;
    border-radius: 10px;
    border-width: 2px;
}
.buttonsec:active{
    background: white;
    box-shadow: inset 1px 1px 1px black;
=======
    border: 10px black solid;
    border-bottom-style: inset;
}
.box {
    margin: 100px;
    width: 100px;
    height: 100px;
    border-radius: 90px;
    /*border-start-end-radius: 90px;*/
    /*border-end-end-radius: 90px;*/
    /*border-bottom-left-radius: 90px;*/
    /*border-top-left-radius: 90px;*/
    border-bottom-style: dotted;
    background-color: rebeccapurple;
    transform: rotate(0.3turn);
>>>>>>> 3c244ed257a1f9e99c278365465c299c13265c70
}


